<a href="https://colab.research.google.com/github/matheustoneti/BankruptPredict-Model/blob/main/BankruptPredict_Model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn import preprocessing

In [ ]:
dados = pd.read_csv('data.csv')

In [ ]:
dados.head(5)

,Bankrupt?,ROA(C) before interest and depreciation before interest,ROA(A) before interest and % after tax,ROA(B) before interest and depreciation after tax,Operating Gross Margin,Realized Sales Gross Margin,Operating Profit Rate,Pre-tax net Interest Rate,After-tax net Interest Rate,Non-industry income and expenditure/revenue,...,Net Income to Total Assets,Total assets to GNP price,No-credit Interval,Gross Profit to Sales,Net Income to Stockholder's Equity,Liability to Equity,Degree of Financial Leverage (DFL),Interest Coverage Ratio (Interest expense to EBIT),Net Income Flag,Equity to Liability
0,1,0.370594,0.424389,0.405750,0.601457,0.601457,0.998969,0.796887,0.808809,0.302646,...,0.716845,0.009219,0.622879,0.601453,0.827890,0.290202,0.026601,0.564050,1.0,0.016469
1,1,0.464291,0.538214,0.516730,0.610235,0.610235,0.998946,0.797380,0.809301,0.303556,...,0.795297,0.008323,0.623652,0.610237,0.839969,0.283846,0.264577,0.570175,1.0,0.020794
2,1,0.426071,0.499019,0.472295,0.601450,0.601364,0.998857,0.796403,0.808388,0.302035,...,0.774670,0.040003,0.623841,0.601449,0.836774,0.290189,0.026555,0.563706,1.0,0.016474
3,1,0.399844,0.451265,0.457733,0.583541,0.583541,0.998700,0.796967,0.808966,0.303350,...,0.739555,0.003252,0.622929,0.583538,0.834697,0.281721,0.026697,0.564663,1.0,0.023982
4,1,0.465022,0.538432,0.522298,0.598783,0.598783,0.998973,0.797366,0.809304,0.303475,...,0.795016,0.003878,0.623521,0.598782,0.839973,0.278514,0.024752,0.575617,1.0,0.035490

In [47]:
dados.shape

(627, 96)

In [48]:
y = dados['Bankrupt?']

In [54]:
y.shape

(627,)

In [49]:
x = dados.drop(['Bankrupt?'], axis=1)

In [50]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 627 entries, 0 to 626
Data columns (total 95 columns):
 #   Column                                                    Non-Null Count  Dtype
---  ------                                                    --------------  -----
 0    ROA(C) before interest and depreciation before interest  627 non-null    float64
 1    ROA(A) before interest and % after tax                   627 non-null    float64
 2    ROA(B) before interest and depreciation after tax        627 non-null    float64
 3    Operating Gross Margin                                   627 non-null    float64
 4    Realized Sales Gross Margin                              627 non-null    float64
 5    Operating Profit Rate                                    627 non-null    float64
 6    Pre-tax net Interest Rate                                627 non-null    float64
 7    After-tax net Interest Rate                              627 non-null    float64
 8    Non-industry income and expenditure/revenue              627 non-null    float64
 9    Continuous interest rate (after tax)                     627 non-null    float64
 10   Operating Expense Rate                                   627 non-null    float64
 11   Research and development expense rate                    627 non-null    float64
 12   Cash flow rate                                           627 non-null    float64
 13   Interest-bearing debt interest rate                      627 non-null    float64
 14   Tax rate (A)                                             627 non-null    float64
 15   Net Value Per Share (B)                                  627 non-null    float64
 16   Net Value Per Share (A)                                  627 non-null    float64
 17   Net Value Per Share (C)                                  627 non-null    float64
 18   Persistent EPS in the Last Four Seasons                  627 non-null    float64
 19   Cash Flow Per Share                                      627 non-null    float64
 20   Revenue Per Share (Yuan ¥)                               627 non-null    float64
 21   Operating Profit Per Share (Yuan ¥)                      627 non-null    float64
 22   Per Share Net profit before tax (Yuan ¥)                 627 non-null    float64
 23   Realized Sales Gross Profit Growth Rate                  627 non-null    float64
 24   Operating Profit Growth Rate                             627 non-null    float64
 25   After-tax Net Profit Growth Rate                         627 non-null    float64
 26   Regular Net Profit Growth Rate                           627 non-null    float64
 27   Continuous Net Profit Growth Rate                        627 non-null    float64
 28   Total Asset Growth Rate                                  627 non-null    float64
 29   Net Value Growth Rate                                    627 non-null    float64
 30   Total Asset Return Growth Rate Ratio                     627 non-null    float64
 31   Cash Reinvestment %                                      627 non-null    float64
 32   Current Ratio                                            627 non-null    float64
 33   Quick Ratio                                              627 non-null    float64
 34   Interest Expense Ratio                                   627 non-null    float64
 35   Total debt/Total net worth                               627 non-null    float64
 36   Debt ratio %                                             627 non-null    float64
 37   Net worth/Assets                                         627 non-null    float64
 38   Long-term fund suitability ratio (A)                     627 non-null    float64
 39   Borrowing dependency                                     627 non-null    float64
 40   Contingent liabilities/Net worth                         627 non-null    float64
 41   Operating profit/Paid-in capital                         627 non-null    float64
 42   Net profit before tax/Paid-in capital                    627 non-null    float64
 43   Inventory and accounts receivable/Net value              627 non-null    float64
 44   Total Asset Turnover                                     627 non-null    float64
 45   Accounts Receivable Turnover                             627 non-null    float64
 46   Average Collection Days                                  627 non-null    float64
 47   Inventory Turnover Rate (times)                          627 non-null    float64
 48   Fixed Assets Turnover Frequency                          627 non-null    float64
 49   Net Worth Turnover Rate (times)                          627 non-null    float64
 50   Revenue per person                                       627 non-null    float64
 51   Operating profit per person                              627 non-null    float64
 52   Allocation rate per person                               627 non-null    float64
 53   Working Capital to Total Assets                          627 non-null    float64
 54   Quick Assets/Total Assets                                627 non-null    float64
 55   Current Assets/Total Assets                              627 non-null    float64
 56   Cash/Total Assets                                        627 non-null    float64
 57   Quick Assets/Current Liability                           627 non-null    float64
 58   Cash/Current Liability                                   627 non-null    float64
 59   Current Liability to Assets                              627 non-null    float64
 60   Operating Funds to Liability                             627 non-null    float64
 61   Inventory/Working Capital                                626 non-null    float64
 62   Inventory/Current Liability                              626 non-null    float64
 63   Current Liabilities/Liability                            626 non-null    float64
 64   Working Capital/Equity                                   626 non-null    float64
 65   Current Liabilities/Equity                               626 non-null    float64
 66   Long-term Liability to Current Assets                    626 non-null    float64
 67   Retained Earnings to Total Assets                        626 non-null    float64
 68   Total income/Total expense                               626 non-null    float64
 69   Total expense/Assets                                     626 non-null    float64
 70   Current Asset Turnover Rate                              626 non-null    float64
 71   Quick Asset Turnover Rate                                626 non-null    float64
 72   Working capitcal Turnover Rate                           626 non-null    float64
 73   Cash Turnover Rate                                       626 non-null    float64
 74   Cash Flow to Sales                                       626 non-null    float64
 75   Fixed Assets to Assets                                   626 non-null    float64
 76   Current Liability to Liability                           626 non-null    float64
 77   Current Liability to Equity                              626 non-null    float64
 78   Equity to Long-term Liability                            626 non-null    float64
 79   Cash Flow to Total Assets                                626 non-null    float64
 80   Cash Flow to Liability                                   626 non-null    float64
 81   CFO to Assets                                            626 non-null    float64
 82   Cash Flow to Equity                                      626 non-null    float64
 83   Current Liability to Current Assets                      626 non-null    float64
 84   Liability-Assets Flag                                    626 non-null    float64
 85   Net Income to Total Assets                               626 non-null    float64
 86   Total assets to GNP price                                626 non-null    float64
 87   No-credit Interval                                       626 non-null    float64
 88   Gross Profit to Sales                                    626 non-null    float64
 89   Net Income to Stockholder's Equity                       626 non-null    float64
 90   Liability to Equity                                      626 non-null    float64
 91   Degree of Financial Leverage (DFL)                       626 non-null    float64
 92   Interest Coverage Ratio (Interest expense to EBIT)       626 non-null    float64
 93   Net Income Flag                                          626 non-null    float64
 94   Equity to Liability                                      626 non-null    float64
dtypes: float64(95)
memory usage: 465.5 KB

In [51]:
x.fillna(value=0, inplace=True)

## Separando os dados de treino e teste e criando o algoritmo de predição

In [59]:
x_train, x_teste, y_train, y_teste = train_test_split(x,y, test_size = (0.3))

In [67]:

modelo = RandomForestClassifier()

## Treinando o modelo

In [68]:
modelo = modelo.fit(x_train, y_train)

## Aplicando o modelo e avaliando acurácia

In [69]:
accuracy = modelo.score(x_teste, y_teste)

In [70]:
print(accuracy)

0.9576719576719577

### 96% de acurácia na previsão de falências